.container.planCard {
    background-color: white;
    min-height: 75px;

    border-radius: 10px;

    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.planCardHeader {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.profile {
    display: flex;
    align-items: center;
}

.user_name {
    padding: 0;
    margin-left: 20px;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
}

p.privateTag {
    color: #707070;
    font-size: 0.8rem;
    padding: 2px 6px;
    border-radius: 12px;
}

.user_name:hover {
    text-decoration: underline;
}

.plan_name {
    font-size: large;
    margin-bottom: 10px;
}

.planBudget {
    display: flex;
    align-items: center;

    margin-bottom: 10px;
}

.actionBar {
    display: flex;
    justify-content: space-between;
}

.actionBar img {
    width: 20px;
    margin: 0px 5px;
}

.actionBar .group {
    display: flex;
    align-items: center;
}

.actionBar .favoriteGroup{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.actionBar .favoriteGroup:hover{
    transform: scale(1.05);
    transition: all 0.1s ease-in-out;
}

.activityDetails {
    display: flex;
    justify-content: space-between;
}

.profileimg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}

.commentSection {
  padding: 15px;
  background: #f8f9fa;
  border-radius: 8px;
  margin-top: 10px;
}

.commentItem {
  background: white;
  border-radius: 5px;
}

.commentItem:hover {
  background: #e9ecef;
}

.commentBTN {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  position: relative;
}

