.planningContainer {
    height: auto;
    width: 100%;
    background-color: white;
    padding: 50px;
    border-radius: 20px;
}

.activity {
    padding: 0px 50px;
}

.addDel {
    width: 100%;
    margin: 10px auto;
}

.submitBtn {
    width: 100%;
    display: flex;
    justify-content: center;
}

input {
    border-radius: 10px;
}

.flatpickr-input {
    width: 100%;
    text-align: center;
}