.planningContainer {
    height: auto;
    width: 100%;
    background-color: white;
    padding: 50px;
    border-radius: 20px;
}

.activity {
    padding: 0px 2%;
}

.addDel {
    width: 100%;
    margin: 10px auto;
}

.submitBtn {
    width: 100%;
    display: flex;
    justify-content: center;
}

input {
    border-radius: 10px;
}

.flatpickr-input {
    border-radius: 10px;
    height: 38px;
    width: 100px;
    text-align: center;
    border: 1px solid #dee2e6;
}

.flatpickr-input:focus {
    border-color: #86b7fe !important;
    outline: none;
    box-shadow: 0 0 0 4px #86b6fe7c;
}