.container.planCard {
    background-color: white;
    min-height: 75px;

    border-radius: 10px;

    padding: 20px;
}

.planCardHeader {
    margin-bottom: 15px;
}

.profile {
    display: flex;
    align-items: center;
}

.userName {
    padding: 0;
    margin: 0px 20px;
    font-size: larger;
    font-weight: bold;
}

.planName {
    font-size: large;
    margin-bottom: 10px;
}

.planBudget {
    display: flex;
    align-items: center;

    margin-bottom: 10px;
}

.actionBar {
    display: flex;
    justify-content: space-between;
}

.actionBar img {
    width: 20px;
    margin: 0px 5px;
}

.actionBar .group {
    display: flex;
    align-items: center;
}